# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
out
tmp
.git
oregen_capes.json
src/main/java/com/dynu/stevenseegal/oregen/lib/LibMod.java
